<div class="welcome">
  <h1>TO </h1><br>  
  <h1>DO</h1><br>
  <h1>LIST</h1>
</div>

<div class="links">
  <h3><%= link_to "Login", login_path %></h3>
  <h3><%= link_to "Create An Account", new_user_path %></h3>
</div>


