<div class="welcome">
  TO<br>DO<br>LIST
</div>

<div class="links">
  <div class="linkit">
    <span class="checkmark"></span>
    <h3><%= link_to "Login", login_path %></h3>
  </div>

  <div class="linkit">
    <span class="checkmark"></span>
    <h3><%= link_to "Create An Account", new_user_path %></h3>
  </div>
</div>

