html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  text-align: -webkit-center;
  flex-direction: column;
  height: 100%;
}

.flash {  
  position: absolute;
  top: 90px;
  width: 100%;
  color: #42e5f4;
}

.nav {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #606060;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin: 20px; 
  text-shadow: 2px 2px grey;
}

.nav h1 {
  display: flex;
  padding-right: 550px;
}

.intro {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-family: sans-serif;
  font-size: 50px;
  padding-left: 220px;
  padding-right: 90px;
}

.links {
  display: flex;
  flex-direction: column;
}

.linkit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkit .checkmark {
  visibility: hidden;
  content: url(green_check.png);
  width: 1px;
  height: 1px;
}

.linkit:hover .checkmark {
  visibility: visible;
  opacity: 1;
  width: 25px;
  height: 25px;
  transition: 0.5s;
}

.user {
  height: 100%;
  padding-top: 20%;
  display: inline-block;
  justify-content: center;
  flex-direction: column;
}

.edit-new-account {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_list {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 82px;
  padding-right: 20px;
  padding-left: 15px;
}

.create-task {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 19%;
}

.todos {
  border: 2px solid red;
  border-radius: 5px;
  padding: 20px;
  margin-top: 17%;
}

footer {
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

@media screen and (min-height: 1900px) {
  .todos {
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px;
    margin-top: 11%;
  }
}
