html, body {
  height: 100%;
  width: 100%;
  margin:auto;
  font-family: 'Roboto Condensed', sans-serif;

}

body {
  display: flex;
  justify-content: center;
  text-align: -webkit-center;
}

.flash {  
  position: fixed;
  left: 0;
  top: 150px;
  width: 100%;
  color: #42e5f4;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: #606060;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin: 20px; 
  text-shadow: 2px 2px grey;
}

.nav h1 {
  display: flex;
  padding-right: 550px;
}

.welcome{
  font-family: sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  padding-left: 220px;
  padding-right: 90px;
  position: static;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkit .checkmark {
  visibility: hidden;
  content: url(green_check.png);
  width: 1px;
  height: 1px;
}

.linkit:hover .checkmark {
  visibility: visible;
  opacity: 1;
  width: 25px;
  height: 25px;
  transition: 0.5s;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}

.user {
  display: inline;
  padding-top: 21%;
}

.usertodo {
  padding-right: 120px;
}

.todo {
  padding-right: auto;

}

.new_list {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 75px;
}

.todos {
  overflow: visible;
  padding-top: 220px;
  padding-bottom: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: black;
  text-align: center;
}






